{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static '/css/style.min.css' %}">
</head>

<body>
  <div class="layer"></div>
<main class="page-center">
  <article class="sign-up">
    <h1 class="sign-up__title">Welcome back!</h1>
    <p class="sign-up__subtitle">Sign in to your account to continue</p>
    <form class="sign-up-form form" action="" method="POST">
      {% csrf_token %}
      <div class="form-checkbox-wrapper">
        <label for="email">Email</label>
          <input class="form-input" type="email" id="email" name="username" aria-describedby="emailHelp" placeholder="Enter your email" required>
        </label>
      </div>
      <div class="form-checkbox-wrapper">
      <label for="password">Password</label>
        <input class="form-input" type="password" id="password" name="password" placeholder="Enter your password" required>
      </label>
      </div>
      <div class="form-checkbox-wrapper">
          <input class="form-checkbox" type="checkbox" id="customCheck" name="remember_me" required>
          <label class="form-checkbox-label" for="customCheck">Remember Me</label>
      </div>
      <button type="submit" class="form-btn primary-default-btn transparent-btn">Sign in</button>
    </form>
    <hr>
    <div class="text-center">
      <a class="small" href="{% url 'accounts:register' %}">Create an Account!</a>
    </div>
  </article>
</main>
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>
</body>

</html>