{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PVR | Register</title>

  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static '/css/style.min.css' %}">
  
</head>

<body>
<div class="layer"></div>
<main class="page-center">
  <article class="sign-up">
    <h1 class="sign-up__title">Get started</h1>
    <p class="sign-up__subtitle">Start new habits with doing sport and be a healthy prasmulyan</p>
    <form class="sign-up-form form" action="" method="POST">
      {% csrf_token %}
      {{form}}
      <label class="form-checkbox-wrapper">
        <input class="form-checkbox" type="checkbox" required>
        <span class="form-checkbox-label">Remember me next time</span>
      </label>
      <button class="form-btn primary-default-btn transparent-btn" href="">Register Account</button>
      <div class="text-center">
        <a class="direct" href="{% url 'accounts:login' %}">Already have an account? Login!</a>
      </div>
    </form>
  </article>
</main>
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>
</body>

</html>